@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Nunito&display=swap');


body {
    margin: 0px;
    background-image: linear-gradient(to right, rgb(247, 169, 169), rgb(241, 203, 145));
}

h1 {
    font-size: 30px;
    padding-top: 40px;
    color: rgb(65, 41, 9);
    text-decoration: none;
}

header {
    position: fixed;
    background-color: #a7838317;
    text-align: left;
    color: #400e01c7;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 52px;
    padding: 10px;
    font-size: 80px;
    font-stretch: semi-expanded;
    font-family: 'Amatic SC', cursive;
    top: 0;
    z-index: 2;
}

.Menu {
    position: fixed;
    padding: 15px;
    background-color: #a78383b6;
    text-align: left;
    float: left;
    width: 20%;
    height: 1000px;
    font-size: 25px;
    font-style: italic;
    z-index: 3;
}

.Hall {
    left: 305px;
    position: absolute;
    width: 100%;
    height: 100%;
}

input.text {
    height: 30px;
    font-size: 20px;
    border-radius: 5px 5px 5px 5px;
    border: 1px solid #a78383;
}

.popup {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(230, 149, 79, 0.466);
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: all 0.8s ease 0s;
}

    .popup.open {
        opacity: 1;
        visibility: visible;
    }

.popup_area {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}


.infowindow_body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 10px;
}


.infowindow_content {
    background-color: #a78383;
    position: relative;
    max-width: 600px;
    max-height: 800px;
    padding: 20px;
    border-radius: 5%;
}

.infowindow_title {
    font-size: 35px;
    margin: 10px 1.5em 0.5em 1em;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    color: rgb(58, 8, 8);
}

.infowindow_close {
    position: absolute;
    right: 0px;
    top: 0;
    font-size: 30px;
    background-color: rgb(228, 221, 156);
    padding: 10px;
    text-decoration: dotted;
    color: rgb(58, 8, 8);
    font-weight: bold;
    border-radius: 10px 10px 10px 20px;
}

.infowindow_text {
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    font-weight: normal;
    width: 450px;
    position: relative;
    padding: 10px;
}
